<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>심점</title>
  <style>
		.container {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			height: 100vh;
		}

		button {
			margin: 10px;
			padding: 10px;
			border: none;
			border-radius: 5px;
			color: white;
			background-color: blue;
			font-size: 20px;
			cursor: pointer;
		}
	</style>
</head>
<body>
<div class="container">
  <button type="button" onclick="location.href='/review/reviewList'">리뷰조회</button>
</div>
</body>
</html>


